{% load static %}

<style>
  .intro {
      height: 100%;
  }
  
  .intro {
      background: url("{% static 'img/home.jpg' %}") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
</style>


<!--Mask-->

  <div class="intro ">

    <div class="mask rgba-black-strong">

      <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        
        <div class="row d-flex justify-content-center text-center">

          <div class="col-md-10">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <!--heading-->
            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Market Place</h2>
            <!--divider-->
            <hr class="hr-light">
            <!--description-->
            <h4 class="white-text my-1">Buy, sell, trade at the right place.</h4>  
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>          
          </div>
        </div>

      </div>

    </div>

  </div>
  <!--/.Mask-->

 